@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    padding: 3rem;
    margin: auto;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
    justify-content: flex-end !important;
}

mat-form-field {
    width: 100% !important;
}
